.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #171717;
    padding: 5%;
}

.footer-mail {
    margin-bottom: 5%;
    text-decoration: underline;
    transition: .5s;
}

.footer-mail:hover {
    color: #9e9e9e;
}

.sm-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 400px;

    margin-bottom: 5%;
}

.sm-wrapper img {
    margin-right: 10%;
}

.icon:hover{
    fill: #9e9e9e;
}